<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="icon" href="/images/favicon.png" />

    <title>ุตุจุง ููุฑุงูุ ฺฉุงุฑุฏุฑูุงูฺฏุฑ</title>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="header">
        <h1>ุตุจุง ููุฑุงู</h1>
        <nav>
          <a href="/">ุฎุงูู</a>
          <a href="#about">ุฏุฑุจุงุฑู ูู</a>
          <a href="#schedule">ุจุฑูุงูู ุญุถูุฑ</a>
          <a href="#services">ุฎุฏูุงุช</a>
          <a href="/blog">ูุจูุงฺฏ</a>
          <a href="tel: +989123334455" class="book-nav">โ๏ธ ุฑุฒุฑู ููุจุช</a>
        </nav>
      </div>
    </header>

    <!-- Hero Section -->
    <section class="sub-header">
      <h2>ุณูุงูุช ุดูุง ุงูููุช ูุงุณุช</h2>
      <p>ุฏุฑ ูุณุฑ ุฏุฑูุงู ูุจโูุง ฺฉู ุฎูุฏู ุฑุง ุงุฒ ุงุฏ ุจุฑุฏูโุงูุฏ</p>
    </section>

    <!-- About Section with Profile Photo -->
    <section id="about" class="about">
      <img src="/images/saba-profile.webp" alt="Saba Noriani" />
      <div>
        <h3>ุตุจุง ููุฑุงู</h3>
        <p>
          ฺฉุงุฑุฏุฑูุงูฺฏุฑ ุจุฑฺฏุฒุฏู ฺฉุดูุฑ ููุฑู ุงูพุณูู ูุชู ุณุงุฎุชฺฏ ุจุง ุชููุฏ ุณุงุฏฺฏ ูุงููููู
          ุงุฒ ุตูุนุช ฺุงูพุ ู ุจุง ุงุณุชูุงุฏู ุงุฒ ุทุฑุงุญุงู ฺฏุฑุงูฺฉ ุงุณุชุ ฺุงูพฺฏุฑูุง ู ูุชูู ุจูฺฉู
          ุฑูุฒูุงูู ู ูุฌูู ุฏุฑ ุณุชูู ู ุณุทุฑุขูฺูุงู ฺฉู ูุงุฒู ุงุณุชุ ู ุจุฑุง ุดุฑุงุท ูุนู
          ุชฺฉููููฺ ููุฑุฏ ูุงุฒุ ู ฺฉุงุฑุจุฑุฏูุง ูุชููุน ุจุง ูุฏู ุจูุจูุฏ ุงุจุฒุงุฑูุง ฺฉุงุฑุจุฑุฏ ู
          ุจุงุดุฏุ ฺฉุชุงุจูุง ุฒุงุฏ ุฏุฑ ุดุตุช ู ุณู ุฏุฑุตุฏ ฺฏุฐุดุชู ุญุงู ู ุขูุฏูุ ุดูุงุฎุช ูุฑุงูุงู
          ุฌุงูุนู ู ูุชุฎุตุตุงู ุฑุง ู ุทูุจุฏุ
        </p>
      </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services">
      <h3>ุฎุฏูุงุช</h3>
      <div class="services-grid">
        <div>
          <img src="/images/modakhelat-hesi.jpg" alt="modakhelat-hesi" />
          <h4>ูุฏุงุฎูุงุช ุญุณ</h4>
        </div>
        <div>
          <img src="/images/tamrinat-edraki.webp" alt="modakhelat-hesi" />
          <h4>ุชูุฑูุงุช ุงุฏุฑุงฺฉ ุญุฑฺฉุช</h4>
        </div>
        <div>
          <img src="/images/dark-room.jpg" alt="modakhelat-hesi" />
          <h4>ุงุชุงู ุชุงุฑฺฉ</h4>
        </div>
        <div>
          <img src="/images/Group-psychotherapy.jpeg" alt="modakhelat-hesi" />
          <h4>ฺฏุฑูู ุฏุฑูุงู</h4>
        </div>
        <div>
          <img src="/images/assessment.jpg" alt="modakhelat-hesi" />
          <h4>ุงุฑุฒุงุจ</h4>
        </div>
        <div>
          <img src="/images/CRT.jpg" alt="modakhelat-hesi" />
          <h4>ุชูุงูุจุฎุด ุดูุงุฎุช</h4>
        </div>
        <div>
          <img src="/images/preschool-educations.jpeg" alt="modakhelat-hesi" />
          <h4>ุขููุฒุดโูุง ูพุด ุงุฒ ูุฏุฑุณู</h4>
        </div>
        <div>
          <img src="/images/learning-disorder.jpg" alt="modakhelat-hesi" />
          <h4>ุงุฎุชูุงู ุงุฏฺฏุฑ</h4>
        </div>
      </div>
      <div class="scroll-fade"></div>
    </section>

    <!-- Weekly Schedule Table -->
    <section id="schedule" class="schedule">
      <h2>ุจุฑูุงูู ุญุถูุฑ</h2>

      <table>
        <thead>
          <tr>
            <th>ุฑูุฒ</th>
            <th>ุณุงุนุช</th>
            <th>ฺฉููฺฉ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ฺฉุดูุจู ู ุณู ุดูุจู</td>
            <td>18:30โ10:30</td>
            <td>ฺุชฺฏุฑ</td>
          </tr>
          <tr>
            <td>ุฏูุดูุจู ู ฺูุงุฑุดูุจู</td>
            <td>18:30โ10:30</td>
            <td>ุณุชุงุฑุฎุงู</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- Quick Info Section: Locations & Hours -->
    <section class="clinic-address">
      <h3>ูููุนุช ูฺฉุงู ฺฉููฺฉโูุง</h3>
      <div>
        <div>
          <div>
            <h4>ฺฉููฺฉ ฺุชฺฏุฑ</h4>
            <p>๐ ุขุฏุฑุณ: ฺุชฺฏุฑ- ุดูุฑฺฉ ฺฏูุณุชุงู- ุจููุงุฑ ุงูุฑฺฉุจุฑ- ูพูุงฺฉ 189</p>
            <p>๐ ุชููู: 021-222-2222</p>
          </div>
          <div>
            <a
              href="https://maps.app.goo.gl/ZALFEBPZrw5wVDgj7?g_st=atm"
              target="_blank"
              ><img
                src="/images/location.png"
                alt="location-icon"
                class="icon-img"
            /></a>
          </div>
        </div>
        <div>
          <div>
            <h4>ฺฉููฺฉ ุณุชุงุฑุฎุงู</h4>
            <p>
              ๐ ุขุฏุฑุณ: ุณุชุงุฑุฎุงู- ุฎุงุจุงู ุดุงุฏููุฑุ ฺฉูฺู ูุฑุญุฒุงุฏ- ุณุงุฎุชูุงู ูพุฒุดฺฉุงู
              ุณุชุงุฑุฎุงู
            </p>
            <p>๐ ุชููู: 021-222-2222</p>
          </div>
          <div>
            <div>
              <a
                href="https://maps.app.goo.gl/ZALFEBPZrw5wVDgj7?g_st=atm"
                target="_blank"
                ><img
                  src="/images/location.png"
                  alt="location-icon"
                  class="icon-img"
              /></a>
            </div>
          </div>
        </div>
      </div>
      <div
        style="
          display: flex;
          flex-direction: row;
          gap: 25px;
          margin-bottom: 2vh;
        "
      >
        <a
          href="https://t.me/sabanouriani"
          class="book"
          style="background-color: rgb(240, 247, 247); color: rgb(55 65 81)"
        >
          <div style="display: flex; flex-direction: row; gap: 0.3rem">
            <img
              src="/images/telegram.png"
              alt="telegram"
              style="width: 1.8rem; object-fit: cover"
            />
            <h4>ุฑุฒุฑู ุงุฒ ุทุฑู ุชูฺฏุฑุงู</h4>
          </div>
        </a>
        <a href="tel:+1234567890" class="book">
          <div style="display: flex; flex-direction: row; gap: 0.3rem">
            <img
              src="/images/phone.png"
              alt="telegram"
              style="width: 1.8rem; object-fit: cover"
            />
            <h4>ุฑุฒุฑู ููุจุช</h4>
          </div>
        </a>
      </div>
    </section>

    <section class="blog-posts">
      <h3>ุขุฎุฑู ูุทุงูุจ ูุจูุงฺฏ</h3>

      <div class="latest-posts">
        <% latestPosts.forEach(post => { %>
        <div class="post-snippet">
          <a href="/blog/<%= post.id %>">
            <img src="<%= post.image %>" alt="<%= post.title %>" />
            <h4><%= post.title %></h4>
            <p><%= post.excerpt %></p>
          </a>
        </div>
        <% }) %>
      </div>
      <a href="/blog">ูุดุงูุฏู ููู ูุทุงูุจ</a>
    </section>

    <!-- Footer -->
    <footer>ุตุจุง ููุฑุงู 1404. ุชูุงู ุญููู ูุญููุธ ุงุณุช</footer>
  </body>
</html>
